*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif !important;
}
@media (min-width: 320px) and (max-width:767px) { 

    /* Navigation Bar Section  */
    .navbar{
        background-color: #FFFFFF;
        height: 55px;
    }
    .navbar-nav{
        background-color: #FFFFFF;
        position: absolute;
    }
    .logo{
        max-width: 100%;
        width: 150px;
        height: 30px;
    }  
    .get-started-btn{
        visibility: hidden;
    }
    /* End of Navigation Bar*/

    /* Value Prop Section*/
    .jargon{ 
        background: #FFFFFF;
        box-shadow: 0px 14px 40px rgba(0, 0, 0, 20%);
        border-radius: 10px;
        width: 100%;
        margin: auto;
    }
    .backed-by-experts{
        background: #FFFFFF;
        box-shadow: 0px 14px 40px rgba(0, 0, 0, 20%);
        border-radius: 10px;
        width: 100%;
        margin: auto;
        padding: 15px;
    }
    .african-context{
        background: #FFFFFF;
        box-shadow: 0px 14px 40px rgba(0, 0, 0, 20%);
        border-radius: 10px;
        width: 100%;
        margin: auto;
        padding: 5px;
    }
    .font-size-change{
        font-size: 1rem !important;
    }
    .value-prop-hidden-content{
        display: none;
    }
    .font-size-sm{
        font-size: 1.2em;
    }
    /* End of Value Prop section*/

    /* Who is this for Section */
    .who-is-this-for-background{
        background: rgba(247, 127, 0, 0.2);
        border-radius: 10px;
    }
    .second-content{
        align-self: center;
    }
    .second-content > p{
        margin-top: 10px;
    }
    .item{
        display: flex;
        flex-direction: row;
    }
    /* End of Who is this for section */
    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .section-item{
        flex-basis: 100%;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        cursor: pointer;
    }
    .financial-property-video{
        background: rgba(247, 127, 0, 0.5);
    }
    .save-more-video{
        background: rgba(147, 196, 237, 0.5);
    }
    .invest-video{
        background: rgb(8, 62, 91);
    }
    .hero-section h3{
        font-size: 1.125em;
        line-height: 1.1636em;
    }
    .card-text{
        display: none;
    }

    .card-img2{
        display: none;
    }
    .card-title{
        text-align: center;
    }
    .inner-row{
        display: none !important;
    }
    .card-columns{
        display: flex;
        flex-direction: column;
    }
    .card-img{
        width: 187px; 
        height:147px;
    }
    .pro-container{
        display: flex;
        flex-direction: column;
    }
    .pro-item{
        display: flex;
    }
    .spot-your-gap{
        flex-basis: 80%;
        margin-top: 10px;
    }
    .left-section{
        flex-basis: 20%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .round-number-pro{
        background: #93C4ED;
        border-radius: 50%;
        width:30px;
        height:30px;
        font-size: 20px;
        color:#fff;
        margin: auto;
    }
    
    
 }



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) { 
    /* Navigation Bar section */
    .navbar{
        background-color: #FFFFFF;
        height: 55px;
    }
    .navbar-nav{
        background-color: #FFFFFF;
        position: absolute;
    }
    .get-started-btn{
        visibility: hidden;
    }
    /*End of Navigation Bar Section*/

    /* Value Prop Section */
    .jargon{
        display: flex;
        flex-direction: row-reverse;
    }
    .backed-by-experts{
        display: flex;
        flex-direction: row-reverse;
    }
    .african-context{
        display: flex;
        flex-direction: row-reverse;
    }
    /* End Of Value Prop Section */

    /* Course Benefits Section */
    .orange-heading{
        color: #F77F00;
    }
    .course-benefits{
        background: #FFFFFF !important;
    }
    /* End of Course Benefits Section */

    /* Who is this for section */
    .row-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 40px;
    }
    .item{
        background: rgba(247, 127, 0, 0.2);
        border-radius: 10px;
        height: 100%;
        min-height: 160px;
        padding-right: 20px;
        padding-left:20px ;
    }
    .second-content > p{
        text-align:center;
    }
    .card-columns{
        display: grid;
        grid-template-columns: 320px 320px;
        justify-content: space-between;
    }
    .save-card{
        height: 600px;
        padding: 20px;
    }
    .earn-card{
        height: 600px;
        padding: 20px;
        margin-top: 90px;
    }
    .payoff-card{
        height: 550px;
        padding: 20px;
        margin-top: 100px;
    }
    .invest-card{
        height: 600px;
        padding: 20px;
    }
    .card-img{
        width: 187px; 
        height:147px;
    }
    .left-section{
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .round-number-pro{
        background: #93C4ED;
        border-radius: 50%;
        width:50px;
        height:50px;
        font-size: 30px;
        font-weight: bold;
        color:#fff;
        margin: auto;
    }
    

    /* End of who is this section */
}




/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199px) { 
    .jargon{
        display: flex;
        flex-direction: row-reverse;
    }
    .backed-by-experts{
        display: flex;
        flex-direction: row-reverse;
    }
    .african-context{
        display: flex;
        flex-direction: row-reverse;
    }
    .orange-heading{
        color: #F77F00;
    }
    .course-benefits{
        background: #FFFFFF !important;
    }
    .row-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 40px;
    }
    .item{
        background: rgba(247, 127, 0, 0.2);
        border-radius: 10px;
        height: 100%;
        min-height: 160px;
        padding-right: 20px;
        padding-left:20px ;
    }
    .second-content > p{
        text-align:center;
    }
    .card-columns{
        display: grid;
        grid-template-columns: 400px 400px;
        justify-content: space-between;
    }
    .save-card{
        padding: 30px;
        height: 600px;
    }
    .earn-card{
        margin-top: 80px;
        height: 600px;
        padding: 30px;
    }
    .payoff-card{
        height: 600px;
        padding: 30px;
        margin-top: 70px;
    }
    .invest-card{
        padding: 50px;
        height: 600px;
    }
    .card-img{
        width: 187px; 
        height:147px;
    }
    .left-section{
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .round-number-pro{
        background: #93C4ED;
        border-radius: 50%;
        width:50px;
        height:50px;
        font-size: 30px;
        font-weight: bold;
        color:#fff;
        margin: auto;
    }
    
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399px) { 
    .jargon{
        display: flex;
        flex-direction: row-reverse;
    }
    .backed-by-experts{
        display: flex;
        flex-direction: row-reverse;
    }
    .african-context{
        display: flex;
        flex-direction: row-reverse;
    }
    .orange-heading{
        color: #F77F00;
    }
    .course-benefits{
        background: #FFFFFF !important;
    }
    .row-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 40px;
    }
    .item{
        background: rgba(247, 127, 0, 0.2);
        border-radius: 10px;
        height: 100%;
        min-height: 160px;
        padding-right: 20px;
        padding-left:20px ;
    }
    .second-content > p{
        text-align: center;
    }
    .card-columns{
        display: grid;
        grid-template-columns: 460px 460px;
        justify-content: space-between;
        row-gap: 10px;
    }
    .save-card{
        padding: 30px;
        height: 600px;
    }
    .earn-card{
        margin-left: -70px;
        margin-top: 80px;
        height: 600px;
        padding: 30px;
    }
    .payoff-card{
        margin-left: -70px;
        height: 600px;
        padding: 30px;
        margin-top: 70px;
    }
    .invest-card{
        padding: 50px;
        height: 600px;
    }
    .card-img{
        width: 187px; 
        height:147px;
    }
    .left-section{
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .round-number-pro{
        background: #93C4ED;
        border-radius: 50%;
        width:50px;
        height:50px;
        font-size: 30px;
        font-weight: bold;
        color:#fff;
        margin: auto;
    }
    
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .jargon{
        display: flex;
        flex-direction: row-reverse;
    }
    .backed-by-experts{
        display: flex;
        flex-direction: row-reverse;
    }
    .african-context{
        display: flex;
        flex-direction: row-reverse;
    }
    .orange-heading{
        color: #F77F00;
    }
    .course-benefits{
        background: #FFFFFF !important;
    }
    .row-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 40px;
    }
    .item{
        background: rgba(247, 127, 0, 0.2);
        border-radius: 10px;
        height: 100%;
        min-height: 160px;
        padding-right: 20px;
        padding-left:20px ;
    }
    .second-content > p{
        text-align: center;
    }
    .card-columns{
        display: grid;
        grid-template-columns: 460px 460px;
        justify-content: space-between;
        row-gap: 10px;
    }
    .save-card{
        padding: 30px;
        height: 600px;
    }
    .earn-card{
        margin-left: -70px;
        margin-top: 80px;
        height: 600px;
        padding: 30px;
    }
    .payoff-card{
        margin-left: -70px;
        height: 600px;
        padding: 30px;
        margin-top: 70px;
    }
    .invest-card{
        padding: 50px;
        height: 600px;
    }
    .card-img{
        width: 187px; 
        height:147px;
    }
    .left-section{
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .round-number-pro{
        background: #93C4ED;
        border-radius: 50%;
        width:50px;
        height:50px;
        font-size: 30px;
        font-weight: bold;
        color:#fff;
        margin: auto;
    }
   
 }




/* Overall stylesheet */
.get-started-btn{
    border-radius: 10px;
}
.buy-btn{
    background: #FCC455 !important;
    max-width: 300px;
    margin: auto;
}
.hero-section{
    position: relative;
    margin-top: 60px;
    width: 100%;
    min-height: 300px;
}
.hero-section h1{
    margin-bottom: 43px;
    padding-top: 80px;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.05em;
}
.hero-section h3{
    text-align: center;
    padding-bottom: 50px;
    font-weight: 700;
}
.vector-bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.vector-bottom-right{
    position: absolute;
    bottom:0;
    right:0;
}
.vector-top-left{
    position:absolute;   
}
.vector-top-right{
    position: absolute;
    right: 0;
    top: 0;
}

.navbar-nav{
    background-color: #fff;
}
.navbar{
    background-color: #FFFFFF;
}
.hy{
    /* border: 2px solid; */
    padding-left: 10px;
}
.course-benefits{
    background: rgba(147, 196, 237, 0.2);
    border-radius: 10px;
}
.box{
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(8, 62, 91, 0.15);
    border-radius: 10px;
}
.round-number{
    background: #93C4ED;
    border-radius: 50%;
    width:30px;
    height:30px;
    font-size: 20px;
    color:#fff;
    margin: auto;
}
.financial-property-video{
    background: rgba(247, 127, 0, 0.5);
}
.save-more-video{
    background: rgba(147, 196, 237, 0.5);
}
.invest-video{
    background: rgb(8, 62, 91);
}
.play-icon{
    color: #fff;
}
.section-item{
    flex-basis: 100%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
}
.section{
    display: flex;
    justify-content: space-around;
}

.font-weight-bold{
    font-weight: 700 !important;
    color: #083E5B;
}
.font-weight-orange-bold{
    font-weight: 700 !important;
    color:#F77F00;
}
.text-color{
    color: #083E5B;
}
.pro-container{
    border-radius: 10px;
    background: #F77F0026;
    display: flex;
}
.pro-item{
    flex-basis: 33%;
    padding: 15px;
}
.left-section{
    margin-bottom: 30px;
}





