body{
    font-family: 'Montserrat', sans-serif !important;
}
@media (min-width: 320px) and (max-width:767px) { 

    /* Navigation Bar Section  */
    .navbar{
        background-color: #FFFFFF;
        height: 55px;
    }
    .navbar-nav{
        background-color: #FFFFFF;
        position: absolute;
    }
    .logo{
        max-width: 100%;
        width: 150px;
        height: 30px;
    }  
    .get-started-btn{
        visibility: hidden;
    }


    /* Value Prop Section*/
    .value-prop-box{ 
        background: #FFFFFF;
        box-shadow: 0px 14px 40px rgba(0, 0, 0, 20%);
        border-radius: 10px;
        width: 100%;
        margin: auto;
        padding: 10px;
    }

    .mobile-font-size{
        font-size: 1.2rem;
    }
    .tablet-font-size{
        font-size: 2rem;
    }
    .value-prop-hidden-content{
        display: none;
    }


    /* Who is this for Section */
    .orange-background{
        background: rgba(247, 127, 0, 0.2);
        border-radius: 10px;
    }
    .second-content{
        align-self: center;
    }
    .second-content > p{
        margin-top: 10px;
    }
    .item{
        display: flex;
        flex-direction: row;
    }

    /* End of Who is this for section */

    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .hero-section h3{
        font-size: 1.125em;
        line-height: 1.1636em;
    }
    .hero-section h1{
        margin-top: 70px !important;
        font-weight: 700;
        font-size: 30px;
    }
    .card-text{
        display: none;
    }

    .card-img2{
        display: none;
    }
    .card-title{
        text-align: center;
    }
    .inner-row{
        display: none !important;
    }
    
    .pro-container{
        display: flex;
        flex-direction: column;
    }
    .pro-item{
        display: flex;
    }
    .spot-your-gap{
        flex-basis: 80%;
        margin-top: 10px;
    }
    .left-section{
        flex-basis: 20%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .round-number-pro{
        background: #93C4ED;
        border-radius: 50%;
        width:30px;
        height:30px;
        font-size: 20px;
        color:#fff;
        margin: auto;
    }
    .text-color-sm{
        color: #083E5B;
    }
    .course-benefits{
        background: rgba(147, 196, 237, 0.2);
        border-radius: 10px;
    }
    
    
 }



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) { 
    /* Navigation Bar section */
    .navbar{
        background-color: #FFFFFF;
        height: 55px;
    }
    .navbar-nav{
        background-color: #FFFFFF;
        position: absolute;
    }
    .get-started-btn{
        visibility: hidden;
    }
    /*End of Navigation Bar Section*/

 


    /* Course Benefits Section */
    .orange-heading{
        color: #F77F00;
    }
    /* End of Course Benefits Section */

    /* Who is this for section */
    .item{
        background: rgba(247, 127, 0, 0.2);
        border-radius: 10px;
        height: 100%;
        min-height: 160px;
        padding-right: 20px;
        padding-left:20px ;
    }
    .left-section{
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .round-number-pro{
        background: #93C4ED;
        border-radius: 50%;
        width:50px;
        height:50px;
        font-size: 30px;
        font-weight: bold;
        color:#fff;
        margin: auto;
    }
    .orange-card{
        margin-top: 90px;
    }
    .card{
        height: 640px;
    }
    

    /* End of who is this section */
}




/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199px) { 

    .orange-heading{
        color: #F77F00;
    }
    
    .item{
        background: rgba(247, 127, 0, 0.2);
        border-radius: 10px;
        height: 100%;
        min-height: 160px;
        padding-right: 20px;
        padding-left:20px ;
    }
    
    .left-section{
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .round-number-pro{
        background: #93C4ED;
        border-radius: 50%;
        width:50px;
        height:50px;
        font-size: 30px;
        font-weight: bold;
        color:#fff;
        margin: auto;
    }
    .orange-card{
        margin-top: 90px;
    }
    .card{
        height: 640px;
    }
    
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399px) { 
    
    .orange-heading{
        color: #F77F00;
    }
    
    .item{
        background: rgba(247, 127, 0, 0.2);
        border-radius: 10px;
        height: 100%;
        min-height: 160px;
        padding-right: 20px;
        padding-left:20px ;
    }
    
    .left-section{
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .round-number-pro{
        background: #93C4ED;
        border-radius: 50%;
        width:50px;
        height:50px;
        font-size: 30px;
        font-weight: bold;
        color:#fff;
        margin: auto;
    }
    .orange-card{
        margin-top: 90px;
    }
    .card{
        height: 640px;
    }
    
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
    .orange-heading{
        color: #F77F00;
    }
    

    .item{
        background: rgba(247, 127, 0, 0.2);
        border-radius: 10px;
        height: 100%;
        min-height: 160px;
        padding-right: 20px;
        padding-left:20px ;
    }
    .left-section{
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .round-number-pro{
        background: #93C4ED;
        border-radius: 50%;
        width:50px;
        height:50px;
        font-size: 30px;
        font-weight: bold;
        color:#fff;
        margin: auto;
    }
        .orange-card{
        margin-top: 90px;
        }
        .card{
        height: 640px;
    }
   
 }




/* Overall stylesheet */
.get-started-btn{
    border-radius: 10px;
}
.buyNowButton{
    background: #FCC455 !important;
    margin: auto;  
    color: #083E5B !important;
    max-width: 531px;

}
.hero-section{
    position: relative;
    margin-top: 60px;
}
.hero-section h1{
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: 700;
}
.hero-section h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 600 !important;
}
.vector-bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.vector-bottom-right{
    position: absolute;
    bottom:0;
    right:0;
}
.vector-top-left{
    position:absolute;   
}
.vector-top-right{
    position: absolute;
    right: 0;
    top: 0;
}

.navbar-nav{
    background-color: #fff;
}
.navbar{
    background-color: #FFFFFF;
}

.box{
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(8, 62, 91, 0.15);
    border-radius: 10px;
    /* padding: 60px; */
}
.round-number{
    background: #93C4ED;
    border-radius: 50%;
    width:30px;
    height:30px;
    font-size: 20px;
    color:#fff;
    margin: auto;
}
.financial-property-video{
    background: rgba(247, 127, 0, 0.5);
}
.save-more-video{
    background: rgba(147, 196, 237, 0.5);
}
.invest-video{
    background: rgb(8, 62, 91);
}
.play-icon{
    color: #fff;
}
.section-item{
    flex-basis: 100%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.font-weight-orange-bold{
    font-weight: 700 !important;
    color:#F77F00;
}
.text-color{
    color: #083E5B;
}
.pro-item{
    flex-basis: 33%;
    padding: 15px;
}
.left-section{
    margin-bottom: 30px;
}
.make-you-a-pro-background{
    background: rgba(247, 127, 0, 0.2);
    border-radius: 10px;
}
.card-img{
    width: 187px; 
    height:147px;
}
